html {
  background-color: #1b1a1f
}
.ScreenTransition {
  text-align: center;
  transition: all .5s cubic-bezier(.55,0,.1,1);
}

.page-enter-active, .page-leave-active {
  transition: all 0.5s ease-out;
}
.page-enter, .page-leave-active {
  opacity: 0
}
